{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <form method="get">
        <input type="text" name="q" value="{{ grid.input.query }}" placeholder="Search">
        {% for key,value in grid.input.values.unset('q') %}
            {% if value is iterable %}
                {% for subkey,subvalue in value %}
                    {% if subvalue is not iterable %}
                        <input type="hidden" name="{{ key }}[{{ subkey }}]" value="{{ subvalue }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endfor %}
        <button type="submit">Search</button>
    </form>
    <p>
        <em>Status:</em>
        {% set actualValue = grid.input.filter('publishedAt') %}
        {% for name,value in {'All': null, Published: '!~', Draft: '~'} %}
            {% if value == actualValue %}
                <strong>{{ name }}</strong> |
            {% else %}
                <a href="{{ grid.input.applyFilter('publishedAt', value|default(null)) }}">{{ name }}</a> |
            {% endif %}
        {% endfor %}

        <em>View Count:</em>
        {% set actualValue = grid.input.filter('views') %}
        {% for name,value in {'All': null, '>10K': '>10000', '>20K': '>20000', '>30K': '>30000', '>40K': '>40000'} %}
            {% if value == actualValue %}
                <strong>{{ name }}</strong> |
            {% else %}
                <a href="{{ grid.input.applyFilter('views', value|default(null)) }}">{{ name }}</a> |
            {% endif %}
        {% endfor %}

        {% if grid.input.values|length %}
            <a href="{{ grid.input.reset }}">Reset</a>
        {% endif %}
    </p>
    <table class="table">
        <thead>
            <tr>
                {% for column in grid.columns %}
                    <th>
                        {{ column.name|humanize }}
                        {% if column.sortable %}
                            {% set direction = column.sort.direction|default %}
                            {% if 'ASC' == direction %}
                                (asc, <a href="{{ column.applyDescSort }}">desc</a>)
                            {% elseif 'DESC' == direction %}
                                (<a href="{{ column.applyAscSort }}">asc</a>, desc)
                            {% else %}
                                (<a href="{{ column.applyAscSort }}">asc</a>, <a href="{{ column.applyDescSort }}">desc</a>)
                            {% endif %}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for item in grid %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>(redacted)</td>
                <td>{{ item.publishedAt ? item.publishedAt|date('Y-m-d') : '-' }}</td>
                <td>{{ item.views }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="99">
                {{ grid.page.totalCount }} Results
                {% if grid.page.haveToPaginate %}
                    (Page {{ grid.page.currentPage }} of {{ grid.page.pageCount }})
                    {{ include('@ZenstruckCollection/Grid/Pager/_full.html.twig', {window: 2}) }}
                {% endif %}
            </td>
        </tr>
        </tfoot>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
